.hero-wrapper{
  background-color:#C5C0D0;
  padding-bottom: 130px;
}
.hero-content{
  padding-bottom: 0em;
  padding-top: 13em;
}

.hero-content img {
  max-width: 17%;
}

.hero-content .nav-barre {
  height:14px;
  margin-top: 55px;
  width:44%;
  float: right;
  background-color: #E3FF47;
  margin-bottom: auto;
}

.hero-content .space_image {
  margin-left: 1%;
}

.hero-content .nav-barre1 {
  height:14px;
  margin-top: 55px;
  width:44%;
  float: left;
  background-color:#E3FF47;
  margin-bottom: auto;
}

.hero-barre {
  height: 15px;
  width: 41%;
  float: right;
  background-color: #E3FF47;
  margin-bottom: auto;
}

.hero-barre2 {
  height:15px;
  width:100%;
  float: right;
  background-color: #E3FF47;
  margin-bottom: auto;
}

.hero-barre1 {
  height:15px;
  width: 40%;
  float: left;
  background-color:#E3FF47;
  margin-bottom: auto;
}

.hero-content .wrapper>p{
  margin: 80px 0;
  max-width: 800px;
}

.slider_ordi {
  display: unset;
}

.slider_tel {
  display: none;
}

@media (max-width:1000px){
  .hero-content{
    padding: 0em;
    padding-top: 7em;
  }
  .hero-content .space_image {
    max-width: 9%;
    padding-top: 30px;
  }
}

@media (max-width:750px){
  .hero-wrapper{
    background-color: #C5C0D0;
  }
  .hero-content{
    padding: unset;
  }
  .hero-content img{
    max-width:100px;
  }
  .hero-content .wrapper>p{
    max-width: 300px;
  }
  .hero-content .space_image {
    padding-left: 3%;
    padding-top: 2%;
  }
}

@media (max-width: 479px) {
  .slider_tel {
    display: unset;
  }
  .slider_ordi {
    display: none;
  }
  .hero-content {
  padding-top: 25px;
  }
  .hero-content img{
    max-width:70px;
  }
  .hero-content .wrapper>p{
    max-width: 300px;
  }

  .hero-content .nav-barre {
    width: 43%;
  }

  .hero-content .nav-barre1 {
    width: 42%;
  }

  .hero-content .space_image {
    padding-left: 3%;
    max-width: 16%;
    padding-top: 2%;
    margin-top: 34px;
    margin-left: -8px;
  }
}