/* LETTER SECTION */
.bg-6{
  /* background-image: url(../images/backgrounds/bg-6.png); */
  background-repeat:no-repeat;
  background-size:cover;
  background-position:70% 50%;
  position: relative;
}
.read-more  {
  display: none;
  color : #08E1FF;
  font-weight: bold;
}

.show {
  display: block!important;
}

@media (max-width:900px){
  .bg-6{
    /* background-image: url(../images/backgrounds/bg-6-responsive.png); */
    background-position: left top;
  }
}
@media (max-width: 650px) {
  .extra-content {
    display: none;
  }
  .read-more {
    display: inline-block;
    cursor: pointer;
  }
}
  
  