
.countdown-section{
    width: 100%;
    flex-wrap: wrap;
}

.countdown-section .part{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}


.pad_right {
  padding-right: 122px
;
}

.mint_case {
  outline: 2px solid;
  color: black;
  outline-color: rgb(16 14 14 / 50%);
  outline-offset: 6px;
  font-size: 22px;
  padding-left: 170%;
  padding-right: 170%;
}

.part.left {
  height: 750px;
    padding: 4em 7em;
}

@media (max-width:950px) {
  .part.left {
    height: 500px;
      padding: 4em 7em;
  }
}

.part.right{
    align-items: center;
    justify-content: center;
}
.countdown-section h1{
  font-size: 23px;
}

.countdown{
  width:100%;
}
.clock {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #0e1131, #0e1131);
  text-shadow: 1px 1px 7px;
  border-radius: 15px;
  width: 100%;
  margin: 40px 0px;
}

.clock div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-height: 80px !important;
}

.clock div p {
  font-size: 2rem;
  text-align: center;
  color: #06f1f6 !important;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
}

.clock div small {
  color: silver;
  text-shadow: none;
}


@media (max-width:955px){
  .countdown-section{
    padding-top: 100px;
    justify-content: center;
  }
  .countdown-section .part{
    flex: unset;
    width: 100%;;
  }

  .part.left{
    padding: unset;
  }
}

.grid_mint {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 200px;
}

.btn_moins {
  outline: 2px solid;
  color: black;
  outline-offset: 6px;
  font-size: 22px;
  padding-left: 60px;
  padding-right: 60px;
  grid-column: 1;
  grid-row: 1;
}

.nb_mint {
  outline: 2px solid;
  color: black;
  outline-offset: 6px;
  font-size: 22px;
  padding-left: 60px;
  padding-right: 60px;
  grid-column: 2;
  grid-row: 1;
}

.btn_plus {
  outline: 2px solid;
  color: black;
  outline-offset: 6px;
  font-size: 22px;
  padding-left: 60px;
  padding-right: 60px;
  grid-column: 3;
  grid-row: 1;
}

.btn_mint {
  width: 10%;
  outline: 2px solid;
  color: black;
  outline-offset: 6px;
  font-size: 22px;
  text-align: center;
}

.enter_line {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 9px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-style: italic;
  margin-top: 280px;
  margin-left: 200px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-right: 12px;
  padding-left: 12px;
}

.join_button {
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    font-weight: 500;
    margin-top: 5%;
    font-size: 1.8rem;
    width: 12%;
    padding: 8px 3px;
    margin-left: 47%;
}

.total {
  color :pink;
  font-size: 20px;
}

@media (max-width:950px) {
   .countdown-section .enter_line {
    margin-top: 220px;
    margin-left: 100px;
    font-size: 1.8em;
  }
  .countdown-section .slider {
    width: 70%;
    height: 500px;
    margin: 0px 190px;
  }
  .countdown-section .join_button {
    width: 37%;
    margin-top: 0;
    margin-left: 32%;
  }
  .img {
    max-width: 130%;
  }
}

.slider {
  width: 70%;
  height: 500px;
  margin: 0px 260px;
}


@media (max-width:479px) {

  
  .countdown-section {
    padding-top: 39px;
  }

  .countdown-section .enter_line {
    margin-top: 120px;
    margin-left: 31px;
    font-size: 1.3em;
  }

.countdown-section .slider {
  width: 68%;
  height: 350px;
  margin: -23px 96px;
  margin-bottom: -62px;
}

  .hero-wrapper {
  padding-bottom: 92px;
}
.about-section_background .space {
  line-height: 57px;
  width: 62%;
}
.about-section_background .space .text {
  font-size: 33px;
  line-height: 0px;
}

.about-section_background .wrapper {
  padding-bottom: 7px;
}

.countdown-section .join_button {
  width: 36%;
  margin-top: 0px;
  margin-left: 34%;
  font-size: 1em;
}
  .enter_line {
    padding-right: 5px;
    padding-left: 0px;
  }

  .pad_right {
    padding-right: 0px;  
  }
  .part.left {
    height: 230px;
  }
}