/* TEAM SECTION */

.text_team {
  grid-column:2;
  grid-row: 1;
  padding-top: 3%;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: 5%;
  margin-left: -8%;
  margin-top: 5%;
}

.team_1 {
  grid-column:1;
  grid-row: 1;
  text-align: center;
}

.team_2 {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding-left: 85px;
  padding-bottom: 20%
}

.team_2 p{
  padding-left: 58px;
}

.team_3 {
  grid-column:2;
  text-align: center;
  grid-row: 2;
  padding-left: 100px;
}

.team_3 p{
  padding-left: 66px;
}
.team_4 {
  grid-column:3;
  text-align: center;
  padding-left: 80px;
  grid-row: 2;
  margin-top: -22px
}

.team_4 p{
  padding-left: 80px;
}

.grid_team p{
  margin-top: 0px;
  margin-bottom: 1rem;
}

.member{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.team-barre {
  height: 15px;
  width: 41%;
  float: right;
  background-color: #E3FF47;
  margin-bottom: auto;
}

.team-barre1 {
  height: 15px;
  width: 41%;
  float: left;
  background-color: #E3FF47;
  margin-bottom: auto;
}

.space_title_team {
  width: 23%;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  font-weight: 700;
  margin-top: -22px;
  font-family: 'Lato' !;
}

.space_title_team .text {
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  font-weight: 700;
}

.member img{
  display: block;
  margin: 0 auto;
  border: 2px solid #09E1FF;
  box-shadow: 15px 3px 23px 3px rgba(9, 225, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 300px;
}

.team2sup {
  margin-bottom: -5%;
  width: 103%;
}

.name {
  margin-left: 11%;
}

.last_name {
  margin-left: 13%;
}

.team3sup {
  margin-top: -52px;
  width: 95%;
  margin-bottom: -41px;
}

.team4sup {
  width: 92%;
}

.padd


.member p{
  text-align: center;
}
.member .name{
  color : #09E1FF !important;
  font-weight: bold;
}

.emphased-blue{
  text-align: center;
  font-weight: bold;
  color:#09E1FF;
  text-transform: uppercase;
  font-size: 30px;
}

@media (max-width: 900px) {
  .team_2 {
  padding-left: 42px;
  margin-top: -33px;
  padding-bottom: 15%;  
  }
  .team2sup {
    margin-bottom: -5%;
    width: 140%;
  }
  .team_3 {
    padding-left: 113px;
  }
  .team3sup {
  margin-top: -52px;
  width: 95%;
  margin-bottom: -17px;
  }
  .team_4 {
    margin-top: -32px;
  }
  .team4sup {
    width: 92%;
  }

  .name {
    margin-left: 69%;
  }
  .last_name {
    margin-left: 26%;
  }
}

@media (max-width: 479px) {

.space_title .text {
    font-size: 33px;
    line-height: 57px;
  }
  .wrapper-title .space_title {
    width: 82%;
  }

  .space_title_team {
    width: 142%;
    font-size: 40px;
    line-height: 43px;
    text-align: center;
    font-weight: 700;
    margin-top: -22px;
}

  .space_title_team .text {
    font-size: 33px;
    line-height: 43px;
    text-align: center;
    font-weight: 700;
  }
}